{% extends "base_en.html" %}
{% block content %}
{% load static %}

<head>
    <!-- TITLE -->
    <title>French Flying Club - Formations</title>
    <!-- TITLE -->

    <!-- GOOGLE TRACKERS -->
    <script async type="application/javascript" src="https://www.googletagmanager.com/gtag/js?id=G-XWTVE2KTW5"></script>
    <script type="application/javascript" src="{% static 'js/gtag.js' %}"></script> 
    <!-- GOOGLE TRACKERS -->
</head>

<form method="GET" action="{% url 'formation_list' %}" class="search-form">
    <input type="text" name="q" placeholder="Search by title">
    <input type="submit" value="Recherche">
</form>

<button class="bouton-effacer" data-url="{% url 'formation_list' %}" onclick="location.href=this.dataset.url">Delete the search</button>



<div class="frame">
    <div class="text_doc formation">
        <p>Our courses</p>
    </div>
    {% for i in formations %}
    <a href="youtube.com"><img src="{{ i.image.url }}" alt="image formation {{ i.titre }}" id="minia_formation"></a>
    {% empty %}
    <h4>No published courses...</h4>
    {% endfor %}
</div>

{% endblock %}