{% extends "base_en.html" %}
{% block content %}
{% load static %}

<head>
  <!-- TITLE -->
  <title>French Flying Club - Liveries MSFS</title>
  <!-- TITLE -->

  <!-- GOOGLE TRACKERS -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-0ZMD04ER74"></script>
      <script type="text/javascript" src="/js/gtag.js"></script> 
  <!-- GOOGLE TRACKERS -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  <!-- Script gestion du filtrage-->
  <script type="application/javascript" src="{% static 'js/filtrage.js' %}"></script>
  <!-- Script gestion du filtrage-->

  <!-- Script gestion du click-->
  <script type="application/javascript" src="{% static 'js/en_onclick.js' %}"></script>
  <!-- Script gestion du click-->

</head>


<form method="GET" action="{% url 'en_livrees_MSFS' %}" class="search-form">
  <input type="text" name="q" placeholder="Search by title, registration or editor">
  <input type="submit" value="Search" class="bouton-filtre">
  <input type="submit" value="Cancel" data-url="{% url 'en_livrees_MSFS' %}" onclick="location.href=this.dataset.url">
</form>

<form method="GET" class="search-form filtre">
  <nav>
    <ul>
      <li class="deroulant"><a href="#">Manufacturer &ensp;</a>
        <ul class="sous">
          <div id="filtre">
          <li><div><input type="checkbox" name="Filtre_constructeur" value="AIRBUS" style="margin-left: 0px;"> Airbus</div></li>
          <li><div><input type="checkbox" name="Filtre_constructeur" value="BOEING"> Boeing</div></li>
          <li><div><input type="checkbox" name="Filtre_constructeur" value="CESSNA"> Cessna</div></li>
          </div>
        </ul>
      </li>
      <li class="deroulant"><a href="#">Livery &ensp;</a>
        <ul class="sous">
          <div id="filtre">
          <li><div><input type="checkbox" name="Filtre_livree" value="CLASSIQUE"> Classic</div></li>
          <li><div><input type="checkbox" name="Filtre_livree" value="SPECIALE"> Special</div></li>
        </div>
        </ul>
      </li>
      <li class="deroulant"><a href="#">Type &ensp;</a>
        <ul class="sous">
        <div id="filtre">
          <li><div><input type="checkbox" name="Filtre_type" value="LINER"> Liner</div></li>
          <li><div><input type="checkbox" name="Filtre_type" value="AFFAIRE"> Jet</div></li>
          <li><div><input type="checkbox" name="Filtre_type" value="GENERAL"> General</div></li>
          <li><div><input type="checkbox" name="Filtre_type" value="HELICO"> Helicoptere</div></li>
        </div>
        </ul>
      </li>
    </ul>
  </nav> 
  <input type="submit" value="Filter" class="bouton-filtre">
</form>

<div class="row">
  {% for i in livrees %}
  <div class="frame frame2 livrees">
    <p>{{i.avion}} </p>
    <h3> Registration : {{i.immat}}</h3>
    <h3> Edited by : {{i.editeur}}</h3>
    <div class="row">
      <img src="{{i.photo1.url}}" alt="{{i.immat}}" />
      <img src="{{i.photo2.url}}" alt="{{i.immat}}" />
    </div>
    <a href="{{i.lien}}" class="bouton-filtre livrees">Download</a>
  </div>
  {% empty %}
  <div class="frame">
    <h4>No liveries match your search or the applied filter.<h4>
  </div>
  {% endfor %}
</div>


{% endblock %}