{% extends "base_en.html" %}
{% block content %}

<head>
  <!-- TITLE -->
  <title>French Flying Club - Liveries MSFS</title>
  <!-- TITLE -->

  <!-- GOOGLE TRACKERS -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-0ZMD04ER74"></script>
      <script type="text/javascript" src="/js/gtag.js"></script> 
  <!-- GOOGLE TRACKERS -->
</head>

{% load static %}

<form method="GET" action="{% url 'livrees_MSFS' %}" class="search-form">
  <input type="text" name="q" placeholder="Search by title, registration, provider">
  <input type="submit" value="Recherche" class="bouton-filtre">
</form>

<button class="bouton-filtre" data-url="{% url 'en_AIRBUS' %}" onclick="location.href=this.dataset.url">
  Airbus</button>
<button class="bouton-filtre" data-url="{% url 'en_BOEING' %}" onclick="location.href=this.dataset.url">
  Boeing</button>
<button class="bouton-filtre" data-url="{% url 'en_ga' %}" onclick="location.href=this.dataset.url">General aviation</button>
<button class="bouton-filtre" data-url="{% url 'en_HELICO' %}" onclick="location.href=this.dataset.url">Helicoptere</button><br>
<button class="bouton-filtre" data-url="{% url 'en_livrees_MSFS' %}" onclick="location.href=this.dataset.url">Delete the
  search / filters</button>

<div class="row">
  {% for i in livrees %}
  <div class="frame frame2 livrees">
    <p>{{i.avion}} </p>
    <h3> Registration : {{i.immat}}</h3>
    <h3> Edited by : {{i.editeur}}</h3>
    <div class="row">
      <img src="{{i.photo1.url}}" alt="{{i.immat}}" />
      <img src="{{i.photo2.url}}" alt="{{i.immat}}" />
    </div>
    <a href="{{i.lien}}" class="bouton-filtre livrees">Download</a>
  </div>
  {% endfor %}
</div>



{% endblock %}