{% extends "base_en.html" %}
{% block content %}

<head>
    <!-- TITLE -->
    <title>French Flying Club - VMR</title>
    <!-- TITLE -->
  
    <!-- GOOGLE TRACKERS -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-0ZMD04ER74"></script>
        <script type="text/javascript" src="/js/gtag.js"></script> 
    <!-- GOOGLE TRACKERS -->
  </head>

<div class="frame">
    <h5 >VMR</h5>
    {% for i in vmr %}
    <div class="frame_doc">
        <a href="{{i.lien}}"> {{ i.titre }}</a>
    </div>
    {% empty %}
    <div class="frame_doc">
        <a href=""> No VMR available</a>
    </div>
    {% endfor %}
</div>

{% endblock %}