{% extends "base_en.html" %}
{% block content %}
{% load static %}

<head>
    <!-- TITLE -->
    <title>French Flying Club - VMR</title>
    <!-- TITLE -->

    <!-- GOOGLE TRACKERS -->
    <script async type="application/javascript" src="https://www.googletagmanager.com/gtag/js?id=G-XWTVE2KTW5"></script>
    <script type="application/javascript" src="{% static 'js/gtag.js' %}"></script> 
    <!-- GOOGLE TRACKERS -->
  </head>

<div class="frame">
    <h5 >VMR</h5>
    {% for i in vmr %}
    <div class="frame_doc">
        <a href="{{i.lien}}"> {{ i.titre }}</a>
    </div>
    {% empty %}
    <div class="frame_doc">
        <a href=""> No VMR available</a>
    </div>
    {% endfor %}
</div>

{% endblock %}