* {
  margin: 0;
}


/* IMPORT DE LA POLICE VIA GOOGLE FONT */
@import url(https://fonts.googleapis.com/css?family=Inter);
/* IMPORT DE LA POLICE VIA GOOGLE FONT */

/* Animation underline over nav-links */

@keyframes underline {
  0% {
    border-bottom: 0px solid white;
  }

  100% {
    border-bottom: 2px solid white;
  }
}

@media (min-width: 1250px) {
  #screen-size-warning {
    display: none;
  }
}

/* Animation underline over nav-links */

html {
  height: 100%;
}

.banniere {
  width: 100%;
  max-height: 5%;
  margin: 0 auto;
}

.banniere img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  min-height: 100vh;
  /* Utilisation de la hauteur de la fenêtre pour le corps */
  font-family: 'Inter', Arial, sans-serif;
  background-color: #e1e1e1;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.content-page {
  flex: 1;
  /* Utilisation de flex pour remplir l'espace entre le haut et le footer */
}

footer {
  width: 100%;
  height: 50px;
  background-color: #18223e;
  padding: 0.5%;
  margin-top: 50px;
}

.privacy_footer {
  width: 10%;
  position: relative;
  float: right;
  margin-left: 5%;
  margin: auto;
}

.privacy_footer a {
  font-size: small;
  color: white;
}

.vatsim_footer {
  width: 6%;
  float: left;
  margin: auto;
}

.vatsim_footer img {
  width: 100%;
  margin-right: 5%;
}

/*FIN FOOTER*/

/* FORCE ALIGN */

h1 {
  text-align: inherit;
}

h2 {
  text-align: inherit;
}

h3 {
  text-align: inherit;
}

h4 {
  text-align: inherit;
}

h5 {
  text-align: inherit;
}

h6 {
  text-align: inherit;
}

p {
  text-align: inherit;
}

a {
  text-decoration: underline;
  color: rgb(0, 0, 0);
  font-size: inherit;
  font-weight: 600;
}

/* FORCE ALIGN */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  width: 60%;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 25px;
}

.alert a {
  color: white;
  text-decoration: underline;
  font-size: inherit;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.alert2 {
  padding: 20px;
  background-color: #f44336;
  color: white;
  width: 20%;
  border-radius: 5px;
  right: 20px;
  bottom: 20px;
  position: fixed;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  /*Pour le passer au dessus*/
}

.alert2_msg {
  padding: 20px;
  background-color: #a9d18e;
  color: white;
  width: 20%;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  right: 20px;
  animation: slide-in-out 6s;
  /* Utilisation de l'option "infinite" pour répéter l'animation en continu */
  opacity: 0;
  /* Définir l'opacité initiale à 0 */
}

@keyframes slide-in-out {
  0% {
    transform: translateY(-100%);
    opacity: 1;
    /* Définir l'opacité à 1 au début de l'animation */
  }

  10%,
  90% {
    transform: translateY(0);
    opacity: 1;
    /* Définir l'opacité à 1 pendant le reste de l'animation */
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.closebtn_msg {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn_msg:hover {
  color: black;
}


/*FIN ALERT*/

/* NAVBAR */

#home_img img {
  border-radius: 15px;
  width: 40%;
  height: auto;
  box-shadow: 1px 1px 20px black;
}

/* CORPS*/

.parent {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(4, 1fr);
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2483c5;
}

#titre {
  text-align: left;
  font-size: larger;
  font-weight: 600;
  display: inline-block;
  padding: 2% 0 2% 0;
}

.div1 p {
  text-align: left;
  margin-left: 1%;
  padding: 1%
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div2 img {
  width: 100%;
}

.div3 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div3 img {
  width: 100%;
}

.div4 {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2483c5;
}

.div4 p {
  text-align: left;
  margin-left: 1%;
  padding: 1%
}

.div5 {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2483c5;
}

.div5 p {
  text-align: left;
  margin-left: 1%;
  padding: 1%
}

.div6 {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div6 img {
  width: 100%;
}

.div7 {
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div7 img {
  width: 100%;
}

.div8 {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2483c5;
}

.div8 p {
  text-align: left;
  margin-left: 1%;
  padding: 1%
}

.intro {
  width: 90%;
  height: auto;
  border-radius: 10px;
  align-items: center;
  background-color: #63a1ce;
  margin: 2% auto;
  padding: 1%;
}

/*page annonce*/

.container {
  min-width: 500px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: scroll;
  white-space: nowrap;
}

.announcement {
  width: 500px;
  height: fit-content;
  display: inline-block;
  margin: 10px;
  background-color: #63a1ce;
  border-radius: 10px;
  vertical-align: top;
}


.welcome {
  width: 98%;
  border-radius: 20px;
  background-color: #2483c5;
  margin-top: 2em;
  margin-bottom: 2em;
  margin: 2em auto;
}

.announcement h2 {
  padding: 2%;
  white-space: normal;
}

.announcement p {
  padding: 1%;
  white-space: normal;
}

.announcement h6 {
  padding: 1%;
  white-space: normal;
}

.welcome h1 {
  font-size: 2.5rem;
  font-weight: 40000;
  color: white;
  padding: 2%;
}

.container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #18223e;
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  border-radius: 10px;
}

/*fin page annonce*/

/* FIN PREZ */
.frame img {
  border-radius: 25px;
}

.frame2 img {
  border-radius: 25px;
  margin-top: 5%;
}

.prez img {
  border-radius: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.frame p {
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
  color: black;
}

.frame h5 {
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
  color: white;
  margin: 2%;
}

#vatsim {
  border-radius: 25px;
  width: 20%;
}

.frame u {
  font-size: xx-large;

}

#img2 {
  width: 1%;
  height: auto;
}

.frame h1 {
  margin-left: 10px;
  color: black;
  font-size: xx-small;
  padding-bottom: 20px;
}

.part {
  background-color: #63a1ce;
  border-radius: 15px;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  width: 87%;
  height: 87%;
  margin: auto;
  margin-top: 1em;
}

/* page event*/

#event-details p {
  margin: 0 auto;
  text-align: center;
}

.announcement img {
  width: 60%;
  height: auto;
  border-radius: 5px;
}

.container.passed {
  opacity: 0.5;
}

.announcement h5 {
  margin-bottom: 3%;
}

.container.IP {
  border-radius: 20px;
  background-color: #2483c5;
  margin-top: 2em;
  margin-bottom: 2em;
  margin: 2em auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.announcementIP {
  width: 500px;
  height: fit-content;
  margin: 10px;
  background-color: #63a1ce;
  border-radius: 10px;
}

.welcome.IP {
  width: 40%;
}

.welcome.IP h1 {
  padding: 2%;
}

.announcement.IP {
  border-radius: 10px;
}

/* fin page event*/

/* page doc */

.frame_doc {
  background-color: #63a1ce;
  border-radius: 25px;
  width: 90%;
  margin-bottom: 2%;
}

.frame_doc a {
  display: inline-block;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.frame_doc:hover {
  box-shadow: 1px 1px 20px black;
}


/*end page doc */

/*RECHERCHE*/

/* Conteneur de la barre de recherche */
.search-form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Bouton effacer*/
.bouton-effacer {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  background-color: #2483c5;
  color: white;
  cursor: pointer;
}

/* Champ de saisie */
.search-form input[type="text"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 40px;
  font-size: 16px;
  background-color: #fafafa;
  color: #666;
}

/* Bouton de recherche */
.search-form input[type="submit"] {
  width: 20%;
  padding: 12px 20px;
  margin-left: 1%;
  box-sizing: border-box;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  background-color: #2483c5;
  color: white;
  cursor: pointer;
}

/* Effet de survol */
.search-form input[type="submit"]:hover {
  background-color: white;
  color: #2483c5;
}

.bouton-effacer:hover {
  background-color: white;
  color: #2483c5;
}

/* END RECHERCHE*/

/*Livrées*/

.bouton-filtre {
  background-color: #2483c5;
  color: white;
  width: 25%;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 10px;
}

.bouton-filtre.livrees {
  background-color: #0c2d45;
}

.bouton-filtre:hover {
  background-color: #63a1ce;
}

.frame {
  box-shadow: 1px 1px 20px #333;
  background-color: #2483c5;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
}

.frame.frame2 {
  width: 45%;
}

.frame_widget_discord {
  width: 45%;
  padding: 0;
  height: 500px;
  margin-top: 5%;
}


.frame2.livrees img {
  width: 40%;
  height: auto;
  border-radius: 10px;
  margin: 10px;
}

.frame2.livrees p {
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
  color: white;
  margin: 2%;
}

.frame2.livrees h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
  color: white;
  margin: 1%;
}

/*end livrees*/

/*Formations*/

.frame_doc.formation img {
  width: 100%;
}

.frame_doc.formation {
  width: 80%;
  background-color: #2483c5;
}

.text_doc.formation p {
  font-size: 2.5rem;
  font-weight: 40000;
  color: white;
  margin: 2% 0 10% 0;
  width: 100%;
}

#minia_formation:hover {
  box-shadow: 1px 1px 20px black;
}

#minia_formation {
  width: 95%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/*end formations*/

/* privacy*/

.part {
  background-color: #63a1ce;
  border-radius: 15px;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  width: 87%;
  height: 87%;
  margin: auto;
  margin-top: 1em;
}

.prez {
  display: flex;
  flex-direction: column;
  background-color: #2483c5;
  border-radius: 25px;
  padding: 20px;
  width: 80%;
  height: 80%;
  margin: auto;
}

.text-club {
  border-radius: 15px;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  width: 90%;
  height: 85%;
  margin: auto;
  margin-top: 1em;
  font-size: 20px;
}

.prez p {
  margin: 1%;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
  color: rgb(0, 0, 0);
}

/*end privacy*/

/*FILTRAGE LIVREES*/
.filtre nav {
  width: 100%;
  margin: 0 auto;
  background-color: #2483c5;
  position: sticky;
  top: 0px;
  border-radius: 10px;
}

.filtre nav ul {
  list-style-type: none;
}

.filtre nav ul li {
  float: left;
  width: 33%;
  text-align: center;
  position: relative;
}

.filtre nav ul::after {
  content: "";
  display: table;
  clear: both;
}

.filtre ul.sous {
  padding-left: 0px;
}

.filtre nav a {
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

.filtre nav a:hover {
  color: #18223e;
  border-bottom: 2px solid #18223e;
}

.filtre .sous {
  display: none;
  border-radius: 0 0 10px 10px;
  background-color: #63a1ce;
  position: absolute;
  width: 80%;
  z-index: 1000;
}

.filtre nav>ul li:hover .sous {
  display: block;
}

.filtre .sous li {
  float: none;
  width: 100%;
  text-align: left;
}

.filtre .sous a {
  padding: 10px;
  border-bottom: none;
}

.filtre .sous a:hover {
  border-bottom: none;
  background-color: RGBa(200, 200, 200, 0.1);
}

.filtre .deroulant>a::after {
  content: " ▼";
  font-size: 12px;
}

.filtre .sous li div {
  padding: 10px;
  color: white;
}

.filtre .sous li div:hover {
  background-color: RGBa(200, 200, 200, 0.1);
}

.filtre .search-form.filtre {
  margin-top: 10px;
}

input[type="checkbox" i] {
  margin: 0px;
}

/*END FILTRAGE*/

/*STATS*/

/* Style pour le tableau */
#vol {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/* Style pour la légende */
#vol caption {
  caption-side: top;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  background-color: #2483c5;
  color: #ffffff;
}

/* Style pour l'en-tête du tableau */
#vol th {
  background-color: #63a1ce;
  color: #ffffff;
  padding: 10px;
}

/* Style pour les cellules du tableau */
#vol td {
  border: 1px solid #dddddd;
  padding: 8px;
}

/* Style pour les lignes impaires du tableau */
#vol tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Style pour le texte des cellules */
#vol td:nth-child(n+3) {
  text-align: center;
}

#map {
  height: 400px;
  margin: 25px 0 25px 0;
  z-index: 0;
}

.legend {
  background-color: #e1e1e1;
  /* Définit un fond blanc pour la légende */
  padding: 10px;
  border-radius: 5px;
  /* Ajoutez d'autres styles de positionnement si nécessaire */
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-item img {
  width: 20px;
  /* Ajustez la taille de l'image selon vos besoins */
  height: 20px;
  margin-right: 5px;
  /* Espace entre l'image et le texte */
}

/*WORLD FLIGHT*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 98%;
  margin: 20px auto;
  padding: 20px;
}

.parent-stream {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(1, 1fr);
}

.stream-frame {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* Ratio d'aspect 16:9 */
  background-color: #000;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}