{% extends "base.html" %}
{% block content %}

<head>
    <!-- TITLE -->
    <title>French Flying Club - Documentation</title>
    <!-- TITLE -->

    <!-- GOOGLE TRACKERS -->
    <script async type="application/javascript" src="https://www.googletagmanager.com/gtag/js?id=G-XWTVE2KTW5"></script>
    <script type="application/javascript" src="{% static 'js/gtag.js' %}"></script> 
    <!-- GOOGLE TRACKERS -->
</head>

<div class="frame">
    <h5>Fonctionnement du club</h5>
    {% for i in docs %}
    {% if i.categorie == "FT" %}
    <div class="frame_doc">
        <a href="{{i.lien}}"> {{ i.titre }}</a>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="frame">
    <h5>ATO</h5>
    {% for i in docs %}
    {% if i.categorie == "AT" %}
    <div class="frame_doc">
        <a href="{{i.lien}}"> {{ i.titre }}</a>
    </div>
    {% endif %}
    {% endfor %}
    <div class="frame_doc">
        <a href="{% url 'formation_list' %}"> Formations</a>
    </div>
</div>

{% endblock %}