{% extends "base.html" %}

{% block content %}

<div class="frame">
    <p>Les sondages relatifs aux événements sont disponibles <a href="{% url 'sondage' %}">ici</a>.</p>
</div>

<div class="welcome">
    <h1>Nos prochains événements</h1>
    <div class="container">
        {% for event in upcoming_events %}
        <div class="announcement">
            <h2>{{event.title}}</h2>
            <img src="{{event.image}}" alt="{{event.title}}">
            <p>{{event.description |linebreaks }}</p>
            <p>Du {{event.date_debut}} au {{event.date_fin}}</p>
        </div>
        {% endfor %}
    </div>
</div>

<div class="welcome">
    <h1>Nos événements passés</h1>
    <div class="container passed">
        {% for event in past_events %}
        <div class="announcement">
            <h2>{{event.title}}</h2>
            <img src="{{event.image}}" alt="{{event.title}}">
            <p>{{event.description |linebreaks}}</p>
            <p>Du {{event.date_debut}} au {{event.date_fin}}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}