{% extends "base.html" %}

{% block content %}
{% load static %}
<!-- ALERT -->

<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Nous sommes présents sur discord ! Rendez vous sur la page</strong> <a href="{% url 'contact' %}"> contact </a>
</div>

<!-- ALERT -->

<!-- BIENVENUE -->
<div class="welcome">
    <h1>Bienvenue sur le site du French Flying Club</h1>
    <div class="container">
        {% for i in annonces %}
        <div class="announcement">
            <h2>{{ i.title }}</h2>
            <h6>{{ i.author }}</h6>
            <p>{{ i.content |linebreaks }}</p>
        </div>
        {%empty%}
        <h2>Aucune annonce récente ...</h2>
        {% endfor %}
    </div>
</div>
<!-- BIENVENUE -->


<!-- Corps -->
<div class="parent">

    <div class="div1">
        <div>
            <div id="titre">
                La naissance du club :
            </div>
            <div class="intro">
                <p>Le French Flying Club est avant tout un club de pilotes (a pilot club dans la langue de
                    Shakespeare) issu de la <a href="https://vatsim.fr" target="_blank">French vACC</a> qui ont
                    voulu voler ensemble.</p>
                <p>Le club n'est pas une VA (Compagnie Virtuelle), par choix de garder une simplicité et une
                    souplesse d'esprit et de fonctionnement. Il n'y a donc aucune obligation d'activité ni de
                    traçage des vols excepté un logbook éléctronique des vols à l'ancienne reprenant les
                    informations élémentaires tels que les aéroports de départ, de destination et le type d'avion.
                </p>
                <p>Ce club est avant tout là pour accompagner les nouveaux comme les plus anciens en VFR et en IFR
                    (autant léger qu'en liner), ainsi que promouvoir des idées de vols/activités en France (partout
                    chers controlleurs) sur <a href="https://vatsim.net" target="_blank">Vatsim</a> dans un esprit
                    collectif de club et de bienveillance.</p>
                <p>C'est également une base pour un espace d'entraide et d'apprentissage dans l'esprit d'educate du
                    réseau Vatsim.</p>
            </div>
        </div>
    </div>
    <div class="div2">
        <img src="{% static 'asset/FFC_born.png' %}" alt="Image de présentation 2">
    </div>
    <div class="div3">
        <img src="{% static 'asset/47C.png' %}" alt="Image de présentation 3">
    </div>
    <div class="div4">
        <div>
            <div id="titre">
                Comment le reconnaitre ?
            </div>
            <div class="intro">
                <p>L'identité du club se veut simple mais plutôt explicite tout en reflétant l'esprit French Club.
                    L'indicatif d'appel est donc French Baguette avec comme abréviation ICAO : FBT.</p>
                <p>Les avions du club portent des livrées reflétant les symboles de notre groupe : des baguettes,
                    des
                    épis de blés, et des avions. Le tout est au couleur du pays : le bleu, le blanc et le rouge...
                    avec
                    une pointe du jaune pour le blé. Vous trouverez toutes nos livrées ainsi que leurs VMR et
                    comment
                    les installer <a href="{% url 'livrees' %}">ici</a>.</p>
            </div>
        </div>
    </div>
    <div class="div5">
        <div>
            <div id="titre">
                Comment rejoindre le club ?
            </div>
            <div class="intro">
                <p>Rien de plus simple à vrai dire !</p>
                <p>Chaque semaine, un jour est voté pour le vol hebdomadaire du club et des idées de vol sont
                    proposées.
                    Il suffit alors de nous retrouver en fréquence ou en vocal sur le discord de la <a
                        href="https://vatsim.fr">French vACC</a> .</p>
                <p>Et pensez bien que des vols spontanés s'organisent quasiment tous les jours entre les membres,
                    alors
                    pourquoi ne pas proposer le votre ?</p>
            </div>
        </div>
    </div>
    <div class="div6">
        <img src="{% static 'asset/FFC_join.png' %}" alt="Image de présentation 6">
    </div>
    <div class="div7">
        <img src="{% static 'asset/PAF3.PNG' %}" alt="Image de présentation 7">
    </div>
    <div class="div8">
        <div>
            <div id="titre">
                Et pour le futur ?
            </div>
            <div class="intro">
                <p>L'objectif du French Flying Club à long terme serait de mettre en place un ATO (Approved Training
                    Organisation) indépendant (c'est-à-dire non lié à une VA) en France. En effet, à ce jour, les
                    deux
                    ATO françaises sont liés à une VA.</p>
                <p>Entre temps, le club développe une nouvelle activité : la voltige aérienne en patrouille. Avec
                    les
                    Pains Acrobatiques Français, le club vous propose de vous initier à la voltige aérienne en
                    patrouille en Socata TB30 et en Pilatus PC-21, deux appareils de légende de l'Armée de l'Air et de
                    l'Espace française. N'hésitez pas à
                    nous saluer sur le fil dédié (Patrouille des Pains Acrobatiques Français) sur le Discord.</p>
            </div>
        </div>
    </div>
</div>
<!-- Corps -->

{% endblock %}
