{% extends "base.html" %}
{% block content %}

<head>
    <!-- TITLE -->
    <title>French Flying Club - Livrées</title>
    <!-- TITLE -->
</head>

<head>
    <!-- TITLE -->
    <title>French Flying Club - Livrées</title>
    <!-- TITLE -->
</head>

{% load static %}

<div class="row">

    <div class="frame frame2 livrees">
        <p>Microsoft Flight Simulator</p>
        <img src="{% static 'asset/MFS2.png' %}" alt="MFS" width="50%" height="auto" />
        <a href="{% url 'livrees_MSFS' %}" class="bouton-filtre livrees">J'y vais !</a>
    </div>

    <div class="frame frame2 livrees">
        <p>X-Plane</p>
        <img src="{% static 'asset/xplane11.png' %}" alt="xplane" width="50%" height="auto" />
        <a href="{% url 'livrees_XP' %}" class="bouton-filtre livrees">J'y vais !</a>
    </div>
</div>

<div class="frame">
    <p>Les livrées de nos avions de voltige pour MSFS sont disponible dans la rubrique <a href="{% url 'voltige' %}"> "Pains acrobatiques"</a>.
    </p>
</div>

<div class="row">
    <div class="frame frame2 livrees">
        <p>Le tuto d'installation des VMR</p>
        <a href="https://docs.google.com/document/d/10nxibBRj1BUivE220l7iAyJBlbuNORUlgvFwf9Gv6Xg/" class="bouton-filtre livrees">J'y
            vais !</a>
    </div>

    <div class="frame frame2 livrees">
        <p>Les liens des fichiers VMR</p>
        <a href="vmr" class="bouton-filtre livrees">J'y vais !</a>
    </div>

</div>


{% endblock %}