{% extends "base.html" %}

{% block title %}French Flying Club - Livrées XP{% endblock %}

{% block content %}
{% load static %}


<div class="row">
  {% for i in livrees %}
  <div class="frame frame2 livrees">
    <p>{{i.avion}} </p>
    <h3> Immatriculation : {{i.immat}}</h3>
    <h3> Edité par : {{i.editeur}}</h3>
    <div class="row">
      <img src="{{i.photo1.url}}" alt="{{i.immat}}" />
      <img src="{{i.photo2.url}}" alt="{{i.immat}}" />
    </div>
    <a href="{{i.fichier.url}}" class="bouton-filtre livrees">Télécharger</a>
  </div>
  {% endfor %}
</div>

{% endblock %}