{% extends "base.html" %}

{% block content%}
{% load static %}

<div class="frame poll result">
    <p> Votre vote a bien été pris en compte ! </p>
    <p> Nous reviendrons bientôt vers vous avec les résultats de ce sondage </p>
</div>

<div class="frame">
    <p>Revenir aux sondages <a href="sondage.html">ici</a>.</p>
    <p>Revenir aux événements <a href="events.html">ici</a>.</p>
    <p>Revenir à l'acceuil <a href="index.html">ici</a>.</p>
</div>

<img src="{% static 'asset/FFC_born.png' %}" alt="Image de présentation 2" id="img_result">
{% endblock %}