{% extends "base.html" %}
{% block content %}

<head>
    <!-- TITLE -->
    <title>French Flying Club - VMR</title>
    <!-- TITLE -->

    <!-- GOOGLE TRACKERS -->
    <script async type="application/javascript" src="https://www.googletagmanager.com/gtag/js?id=G-XWTVE2KTW5"></script>
    <script type="application/javascript" src="{% static 'js/gtag.js' %}"></script> 
    <!-- GOOGLE TRACKERS -->
</head>

<div class="frame">
    <h5 id="text_doc">VMR</h5>
    {% for i in vmr %}
    <div class="frame_doc">
        <a href="{{i.fichier.url}}"> {{ i.titre }}</a>
    </div>
    {% empty %}
    <div class="frame_doc">
        <a href=""> Aucun VMR disponible</a>
    </div>
    {% endfor %}
</div>

{% endblock %}