{% extends "base.html" %}

{% block title %}French Flying Club - World Flight{% endblock %}

{% block content %}
{% load static %}

<div class="welcome">
    <h1>
    <div class="frame_compte">
        <label id="Compte"></label>
        <script type="text/javascript">
            var Affiche = document.getElementById("Compte");
            function Rebour() {
                var date1 = new Date();
                var date2 = new Date("Nov 04, 2023 22:00:00");
                var sec = (date2 - date1) / 1000;
                var n = 24 * 3600;
                if (sec > 0) {
                    j = Math.floor(sec / n);
                    h = Math.floor((sec - (j * n)) / 3600);
                    mn = Math.floor((sec - ((j * n + h * 3600))) / 60);
                    sec = Math.floor(sec - ((j * n + h * 3600 + mn * 60)));
                    Affiche.innerHTML = "Première étape dans : " + j + " j " + h + " h " + mn + " m " + sec + " s";
                    window.status = "Temps restant : " + j + " j " + h + " h " + mn + " min " + sec + " s ";
                }
                else {
                    var date1 = new Date();
                    var date2 = new Date("Nov 11, 2023 8:50:00");
                    var sec = (date2 - date1) / 1000;
                    var n = 24 * 3600;
                    if (sec > 0) {
                        j = Math.floor(sec / n);
                        h = Math.floor((sec - (j * n)) / 3600);
                        mn = Math.floor((sec - ((j * n + h * 3600))) / 60);
                        sec = Math.floor(sec - ((j * n + h * 3600 + mn * 60)));
                        Affiche.innerHTML = "Le World Flight se termine dans : " + j + " j " + h + " h " + mn + " m " + sec + " s";
                        window.status = "Temps restant : " + j + " j " + h + " h " + mn + " min " + sec + " s ";
                    }
                }
                tRebour = setTimeout("Rebour();", 1000);
            }
            Rebour();
        </script>
        <br>
    </div>
    </h1>
</div>

<div class="parent-stream">
  <div class="div1">
    <div>
        <div id="titre">
            World Flight 2023 :
        </div>
        <div class="intro">
            <p> Comme chaque année, la communauté mondiale des simeurs se mobilisent au profit d'associations caritatives durant un tour du monde virtuel d'une semaine.</p>
            <p> Au programme, 48 étapes de Sydney en Australie le samedi 4 novembre à 2100z / 2200 CET à Sydney le samedi 11 novembre 0900Z/ 1000 CET.</p>
            <p>Comme dit en introduction, cette aventure est avant tout une œuvre caritative. En tant qu'équipe française, nous soutenons l'association Aviation sans frontière qui mène notamment en Afrique des vols humanitaires, en France des actions auprès de personnes porteuses de handicap ainsi que durant la crise de la Covid-19 des vols pour transporter les personnels soignants.</p>
            <p>Plus d'information sur cette magnifique association sur leur site internet :</p>
        </div>
    </div>
  </div>
  <div class="div2">
    <img src="{% static 'asset/WF2023_Release.png' %}" alt="Image de présentation 2">
  </div>
</div>
<div class="grid-container">
    <div class="stream-frame">
      <iframe
        src="https://player.twitch.tv/?channel=zeflyingfrog&parent=www.frenchflyingclub.fr&muted=true"
        allowfullscreen
      ></iframe>
    </div>
    <div class="stream-frame">
      <iframe
        src="https://player.twitch.tv/?channel=darewelll&parent=www.frenchflyingclub.fr&muted=true"
        allowfullscreen
      ></iframe>
    </div>
    <div class="stream-frame">
      <iframe
        src="https://player.twitch.tv/?channel=degaulleapproach&parent=www.frenchflyingclub.fr&muted=true"
        allowfullscreen
      ></iframe>
    </div>
    <div class="stream-frame">
      <iframe
        src="https://player.twitch.tv/?channel=radontv&parent=www.frenchflyingclub.fr&muted=true"
        allowfullscreen
      ></iframe>
    </div>
    <div class="stream-frame">
      <iframe
        src="https://player.twitch.tv/?channel=octonath&parent=www.frenchflyingclub.fr&muted=true"
        allowfullscreen
      ></iframe>
    </div>
    <div class="stream-frame">
      <iframe
        src="https://player.twitch.tv/?channel=andgae&parent=www.frenchflyingclub.fr&muted=true"
        allowfullscreen
      ></iframe>
    </div>
  </div>

<table id="vol">
  <caption> Planning des vols </caption>
    <tr>
        <th>
        </th>
        <th>
         De
        </th>
        <th>
        </th>
        <th>
         Vers
        </th>
        <th>
        </th>
        <th>
         Date UTC
        </th>
        <th>
         Departure Time UTC
        </th>
        <th>
         Arrival Time UTC
        </th>
        <th>
         Date
        </th>
        <th>
         Heure de départ (Paris)
        </th>
        <th>
         Heure d'arrivée (Paris)
        </th>
        <th>
         Block Time
        </th>
    </tr>

       <tr>
        <td>
         WF2301
        </td>
        <td>
         YSSY
        </td>
        <td>
         Sydney
        </td>
        <td>
         YMML
        </td>
        <td>
         Melbourne
        </td>
        <td>
         Sat 4th Nov
        </td>
        <td>
         21:00
        </td>
        <td>
         23:05
        </td>
        <td>
         sam. 4 nov.
        </td>
        <td>
         22:00
        </td>
        <td>
         00:05
        </td>
        <td>
         02:05:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2302
        </td>
        <td>
         YMML
        </td>
        <td>
         Melbourne
        </td>
        <td>
         YMKS
        </td>
        <td>
         Wilkins
        </td>
        <td>
        </td>
        <td>
         23:50
        </td>
        <td>
         04:55
        </td>
        <td>
         dim. 5 nov.
        </td>
        <td>
         00:50
        </td>
        <td>
         05:55
        </td>
        <td>
         05:05:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2303
        </td>
        <td>
         YMKS
        </td>
        <td>
         Wilkins
        </td>
        <td>
         SCGC
        </td>
        <td>
         Union Glacier
        </td>
        <td>
         Sun 5th Nov
        </td>
        <td>
         05:40
        </td>
        <td>
         10:45
        </td>
        <td>
        </td>
        <td>
         06:40
        </td>
        <td>
         11:45
        </td>
        <td>
         05:05:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2304
        </td>
        <td>
         SCGC
        </td>
        <td>
         Union Glacier
        </td>
        <td>
         SAWH
        </td>
        <td>
         Ushuaia
        </td>
        <td>
        </td>
        <td>
         11:30
        </td>
        <td>
         15:40
        </td>
        <td>
        </td>
        <td>
         12:30
        </td>
        <td>
         16:40
        </td>
        <td>
         04:10:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2305
        </td>
        <td>
         SAWH
        </td>
        <td>
         Ushuaia
        </td>
        <td>
         SAVC
        </td>
        <td>
         Comodoro
        </td>
        <td>
        </td>
        <td>
         16:25
        </td>
        <td>
         18:10
        </td>
        <td>
        </td>
        <td>
         17:25
        </td>
        <td>
         19:10
        </td>
        <td>
         01:45:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2306
        </td>
        <td>
         SAVC
        </td>
        <td>
         Comodoro
        </td>
        <td>
         SUMU
        </td>
        <td>
         Montevideo
        </td>
        <td>
        </td>
        <td>
         18:55
        </td>
        <td>
         21:20
        </td>
        <td>
        </td>
        <td>
         19:55
        </td>
        <td>
         22:20
        </td>
        <td>
         02:25:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2307
        </td>
        <td>
         SUMU
        </td>
        <td>
         Montevideo
        </td>
        <td>
         SBBR
        </td>
        <td>
         Brasilia
        </td>
        <td>
        </td>
        <td>
         22:05
        </td>
        <td>
         01:10
        </td>
        <td>
        </td>
        <td>
         23:05
        </td>
        <td>
         02:10
        </td>
        <td>
         03:05:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2308
        </td>
        <td>
         SBBR
        </td>
        <td>
         Brasilia
        </td>
        <td>
         SBEG
        </td>
        <td>
         Manaus
        </td>
        <td>
         Mon 6th Nov
        </td>
        <td>
         01:55
        </td>
        <td>
         04:55
        </td>
        <td>
         lun. 6 nov.
        </td>
        <td>
         02:55
        </td>
        <td>
         05:55
        </td>
        <td>
         03:00:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2309
        </td>
        <td>
         SBEG
        </td>
        <td>
         Manaus
        </td>
        <td>
         TNCC
        </td>
        <td>
         Curacao
        </td>
        <td>
        </td>
        <td>
         05:40
        </td>
        <td>
         08:40
        </td>
        <td>
        </td>
        <td>
         06:40
        </td>
        <td>
         09:40
        </td>
        <td>
         03:00:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2310
        </td>
        <td>
         TNCC
        </td>
        <td>
         Curacao
        </td>
        <td>
         MMUN
        </td>
        <td>
         Cancun
        </td>
        <td>
        </td>
        <td>
         09:25
        </td>
        <td>
         12:50
        </td>
        <td>
        </td>
        <td>
         10:25
        </td>
        <td>
         13:50
        </td>
        <td>
         03:25:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2311
        </td>
        <td>
         MMUN
        </td>
        <td>
         Cancun
        </td>
        <td>
         MMGL
        </td>
        <td>
         Guadalajara
        </td>
        <td>
        </td>
        <td>
         13:35
        </td>
        <td>
         16:35
        </td>
        <td>
        </td>
        <td>
         14:35
        </td>
        <td>
         17:35
        </td>
        <td>
         03:00:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2312
        </td>
        <td>
         MMGL
        </td>
        <td>
         Guadalajara
        </td>
        <td>
         KIAH
        </td>
        <td>
         Houston
        </td>
        <td>
        </td>
        <td>
         17:20
        </td>
        <td>
         19:40
        </td>
        <td>
        </td>
        <td>
         18:20
        </td>
        <td>
         20:40
        </td>
        <td>
         02:20:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2313
        </td>
        <td>
         KIAH
        </td>
        <td>
         Houston
        </td>
        <td>
         KATL
        </td>
        <td>
         Atlanta
        </td>
        <td>
        </td>
        <td>
         20:25
        </td>
        <td>
         22:20
        </td>
        <td>
        </td>
        <td>
         21:25
        </td>
        <td>
         23:20
        </td>
        <td>
         01:55:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2314
        </td>
        <td>
         KATL
        </td>
        <td>
         Atlanta
        </td>
        <td>
         KBOS
        </td>
        <td>
         Boston
        </td>
        <td>
        </td>
        <td>
         23:05
        </td>
        <td>
         01:25
        </td>
        <td>
         mar. 7 nov.
        </td>
        <td>
         00:05
        </td>
        <td>
         02:25
        </td>
        <td>
         02:20:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2315
        </td>
        <td>
         KBOS
        </td>
        <td>
         Boston
        </td>
        <td>
         CYWG
        </td>
        <td>
         Winnipeg
        </td>
        <td>
         Tue 7th Nov
        </td>
        <td>
         02:10
        </td>
        <td>
         05:45
        </td>
        <td>
        </td>
        <td>
         03:10
        </td>
        <td>
         06:45
        </td>
        <td>
         03:35:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2316
        </td>
        <td>
         CYWG
        </td>
        <td>
         Winnipeg
        </td>
        <td>
         LPPD
        </td>
        <td>
         Ponta Delgada
        </td>
        <td>
        </td>
        <td>
         06:30
        </td>
        <td>
         13:15
        </td>
        <td>
        </td>
        <td>
         07:30
        </td>
        <td>
         14:15
        </td>
        <td>
         06:45:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2317
        </td>
        <td>
         LPPD
        </td>
        <td>
         Ponta Delgada
        </td>
        <td>
         GMMN
        </td>
        <td>
         Casablanca
        </td>
        <td>
        </td>
        <td>
         14:00
        </td>
        <td>
         16:40
        </td>
        <td>
        </td>
        <td>
         15:00
        </td>
        <td>
         17:40
        </td>
        <td>
         02:40:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2318
        </td>
        <td>
         GMMN
        </td>
        <td>
         Casablanca
        </td>
        <td>
         DAAG
        </td>
        <td>
         Algiers
        </td>
        <td>
        </td>
        <td>
         17:25
        </td>
        <td>
         19:15
        </td>
        <td>
        </td>
        <td>
         18:25
        </td>
        <td>
         20:15
        </td>
        <td>
         01:50:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2319
        </td>
        <td>
         DAAG
        </td>
        <td>
         Algiers
        </td>
        <td>
         LPFR
        </td>
        <td>
         Faro
        </td>
        <td>
        </td>
        <td>
         20:00
        </td>
        <td>
         22:00
        </td>
        <td>
        </td>
        <td>
         21:00
        </td>
        <td>
         23:00
        </td>
        <td>
         02:00:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2320
        </td>
        <td>
         LPFR
        </td>
        <td>
         Faro
        </td>
        <td>
         LIMC
        </td>
        <td>
         Milan
        </td>
        <td>
        </td>
        <td>
         22:45
        </td>
        <td>
         01:40
        </td>
        <td>
        </td>
        <td>
         23:45
        </td>
        <td>
         02:40
        </td>
        <td>
         02:55:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2321
        </td>
        <td>
         LIMC
        </td>
        <td>
         Milan
        </td>
        <td>
         LFQQ
        </td>
        <td>
         Lille
        </td>
        <td>
         Wed 8th Nov
        </td>
        <td>
         02:25
        </td>
        <td>
         04:05
        </td>
        <td>
         mer. 8 nov.
        </td>
        <td>
         03:25
        </td>
        <td>
         05:05
        </td>
        <td>
         01:40:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2322
        </td>
        <td>
         LFQQ
        </td>
        <td>
         Lille
        </td>
        <td>
         EGFF
        </td>
        <td>
         Cardiff
        </td>
        <td>
        </td>
        <td>
         04:50
        </td>
        <td>
         06:10
        </td>
        <td>
        </td>
        <td>
         05:50
        </td>
        <td>
         07:10
        </td>
        <td>
         01:20:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2323
        </td>
        <td>
         EGFF
        </td>
        <td>
         Cardiff
        </td>
        <td>
         ELLX
        </td>
        <td>
         Luxenbourg
        </td>
        <td>
        </td>
        <td>
         06:55
        </td>
        <td>
         08:25
        </td>
        <td>
        </td>
        <td>
         07:55
        </td>
        <td>
         09:25
        </td>
        <td>
         01:30:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2324
        </td>
        <td>
         ELLX
        </td>
        <td>
         Luxenbourg
        </td>
        <td>
         ESGG
        </td>
        <td>
         Goteborg
        </td>
        <td>
        </td>
        <td>
         09:10
        </td>
        <td>
         11:00
        </td>
        <td>
        </td>
        <td>
         10:10
        </td>
        <td>
         12:00
        </td>
        <td>
         01:50:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2325
        </td>
        <td>
         ESGG
        </td>
        <td>
         Goteborg
        </td>
        <td>
         EVRA
        </td>
        <td>
         Riga
        </td>
        <td>
        </td>
        <td>
         11:45
        </td>
        <td>
         13:15
        </td>
        <td>
        </td>
        <td>
         12:45
        </td>
        <td>
         14:15
        </td>
        <td>
         01:30:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2326
        </td>
        <td>
         EVRA
        </td>
        <td>
         Riga
        </td>
        <td>
         UKBB
        </td>
        <td>
         Kyiv
        </td>
        <td>
        </td>
        <td>
         14:00
        </td>
        <td>
         16:20
        </td>
        <td>
        </td>
        <td>
         15:00
        </td>
        <td>
         17:20
        </td>
        <td>
         02:20:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2327
        </td>
        <td>
         UKBB
        </td>
        <td>
         Kyiv
        </td>
        <td>
         LTFM
        </td>
        <td>
         Istanbul
        </td>
        <td>
        </td>
        <td>
         17:05
        </td>
        <td>
         19:10
        </td>
        <td>
        </td>
        <td>
         18:05
        </td>
        <td>
         20:10
        </td>
        <td>
         02:05:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2328
        </td>
        <td>
         LTFM
        </td>
        <td>
         Istanbul
        </td>
        <td>
         LLBG
        </td>
        <td>
         Tel Aviv
        </td>
        <td>
        </td>
        <td>
         19:55
        </td>
        <td>
         22:15
        </td>
        <td>
        </td>
        <td>
         20:55
        </td>
        <td>
         23:15
        </td>
        <td>
         02:20:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2329
        </td>
        <td>
         LLBG
        </td>
        <td>
         Tel Aviv
        </td>
        <td>
         HEGN
        </td>
        <td>
         Hurghada
        </td>
        <td>
        </td>
        <td>
         23:00
        </td>
        <td>
         00:30
        </td>
        <td>
         jeu. 9 nov.
        </td>
        <td>
         00:00
        </td>
        <td>
         01:30
        </td>
        <td>
         01:30:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2330
        </td>
        <td>
         HEGN
        </td>
        <td>
         Hurghada
        </td>
        <td>
         ORBI
        </td>
        <td>
         Baghdad
        </td>
        <td>
         Thu 9th Nov
        </td>
        <td>
         01:15
        </td>
        <td>
         03:20
        </td>
        <td>
        </td>
        <td>
         02:15
        </td>
        <td>
         04:20
        </td>
        <td>
         02:05:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2331
        </td>
        <td>
         ORBI
        </td>
        <td>
         Baghdad
        </td>
        <td>
         OBBI
        </td>
        <td>
         Bahrain
        </td>
        <td>
        </td>
        <td>
         04:05
        </td>
        <td>
         06:00
        </td>
        <td>
        </td>
        <td>
         05:05
        </td>
        <td>
         07:00
        </td>
        <td>
         01:55:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2332
        </td>
        <td>
         OBBI
        </td>
        <td>
         Bahrain
        </td>
        <td>
         OOMS
        </td>
        <td>
         Muscat
        </td>
        <td>
        </td>
        <td>
         06:45
        </td>
        <td>
         08:30
        </td>
        <td>
        </td>
        <td>
         07:45
        </td>
        <td>
         09:30
        </td>
        <td>
         01:45:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2333
        </td>
        <td>
         OOMS
        </td>
        <td>
         Muscat
        </td>
        <td>
         VOHS
        </td>
        <td>
         Hyderabad
        </td>
        <td>
        </td>
        <td>
         09:15
        </td>
        <td>
         12:50
        </td>
        <td>
        </td>
        <td>
         10:15
        </td>
        <td>
         13:50
        </td>
        <td>
         03:35:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2334
        </td>
        <td>
         VOHS
        </td>
        <td>
         Hyderabad
        </td>
        <td>
         VEPT
        </td>
        <td>
         Patna
        </td>
        <td>
        </td>
        <td>
         13:35
        </td>
        <td>
         15:35
        </td>
        <td>
        </td>
        <td>
         14:35
        </td>
        <td>
         16:35
        </td>
        <td>
         02:00:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2335
        </td>
        <td>
         VEPT
        </td>
        <td>
         Patna
        </td>
        <td>
         VGHS
        </td>
        <td>
         Dhaka
        </td>
        <td>
        </td>
        <td>
         16:20
        </td>
        <td>
         17:45
        </td>
        <td>
        </td>
        <td>
         17:20
        </td>
        <td>
         18:45
        </td>
        <td>
         01:25:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2336
        </td>
        <td>
         VGHS
        </td>
        <td>
         Dhaka
        </td>
        <td>
         ZULS
        </td>
        <td>
         Lhasa
        </td>
        <td>
        </td>
        <td>
         18:30
        </td>
        <td>
         20:00
        </td>
        <td>
        </td>
        <td>
         19:30
        </td>
        <td>
         21:00
        </td>
        <td>
         01:30:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2337
        </td>
        <td>
         ZULS
        </td>
        <td>
         Lhasa
        </td>
        <td>
         ZLLL
        </td>
        <td>
         Lanzhou
        </td>
        <td>
        </td>
        <td>
         20:45
        </td>
        <td>
         23:05
        </td>
        <td>
        </td>
        <td>
         21:45
        </td>
        <td>
         00:05
        </td>
        <td>
         02:20:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2338
        </td>
        <td>
         ZLLL
        </td>
        <td>
         Lanzhou
        </td>
        <td>
         ZUTF
        </td>
        <td>
         Chengdu
        </td>
        <td>
        </td>
        <td>
         23:50
        </td>
        <td>
         01:20
        </td>
        <td>
         ven. 10 nov.
        </td>
        <td>
         00:50
        </td>
        <td>
         02:20
        </td>
        <td>
         01:30:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2339
        </td>
        <td>
         ZUTF
        </td>
        <td>
         Chengdu
        </td>
        <td>
         RCTP
        </td>
        <td>
         Taipei
        </td>
        <td>
         Fri 10th Nov
        </td>
        <td>
         02:05
        </td>
        <td>
         04:40
        </td>
        <td>
        </td>
        <td>
         03:05
        </td>
        <td>
         05:40
        </td>
        <td>
         02:35:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2340
        </td>
        <td>
         RCTP
        </td>
        <td>
         Taipei
        </td>
        <td>
         VHHH
        </td>
        <td>
         Hong Kong
        </td>
        <td>
        </td>
        <td>
         05:25
        </td>
        <td>
         07:20
        </td>
        <td>
        </td>
        <td>
         06:25
        </td>
        <td>
         08:20
        </td>
        <td>
         01:55:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2341
        </td>
        <td>
         VHHH
        </td>
        <td>
         Hong Kong
        </td>
        <td>
         VTBS
        </td>
        <td>
         Bangkok
        </td>
        <td>
        </td>
        <td>
         08:05
        </td>
        <td>
         11:00
        </td>
        <td>
        </td>
        <td>
         09:05
        </td>
        <td>
         12:00
        </td>
        <td>
         02:55:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2342
        </td>
        <td>
         VTBS
        </td>
        <td>
         Bangkok
        </td>
        <td>
         WIMM
        </td>
        <td>
         Medan
        </td>
        <td>
        </td>
        <td>
         11:45
        </td>
        <td>
         13:50
        </td>
        <td>
        </td>
        <td>
         12:45
        </td>
        <td>
         14:50
        </td>
        <td>
         02:05:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2343
        </td>
        <td>
         WIMM
        </td>
        <td>
         Medan
        </td>
        <td>
         WIDD
        </td>
        <td>
         Batam
        </td>
        <td>
        </td>
        <td>
         14:35
        </td>
        <td>
         16:05
        </td>
        <td>
        </td>
        <td>
         15:35
        </td>
        <td>
         17:05
        </td>
        <td>
         01:30:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2344
        </td>
        <td>
         WIDD
        </td>
        <td>
         Batam
        </td>
        <td>
         WAHI
        </td>
        <td>
         Yogyakarta
        </td>
        <td>
        </td>
        <td>
         16:50
        </td>
        <td>
         19:10
        </td>
        <td>
        </td>
        <td>
         17:50
        </td>
        <td>
         20:10
        </td>
        <td>
         02:20:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2345
        </td>
        <td>
         WAHI
        </td>
        <td>
         Yogyakarta
        </td>
        <td>
         YPDN
        </td>
        <td>
         Darwin
        </td>
        <td>
        </td>
        <td>
         19:55
        </td>
        <td>
         23:40
        </td>
        <td>
        </td>
        <td>
         20:55
        </td>
        <td>
         00:40
        </td>
        <td>
         03:45:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2346
        </td>
        <td>
         YPDN
        </td>
        <td>
         Darwin
        </td>
        <td>
         YBCS
        </td>
        <td>
         Cairns
        </td>
        <td>
         Sat 11th Nov
        </td>
        <td>
         00:25
        </td>
        <td>
         03:10
        </td>
        <td>
         sam. 11 nov.
        </td>
        <td>
         01:25
        </td>
        <td>
         04:10
        </td>
        <td>
         02:45:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2347
        </td>
        <td>
         YBCS
        </td>
        <td>
         Cairns
        </td>
        <td>
         YBBN
        </td>
        <td>
         Brisbane
        </td>
        <td>
        </td>
        <td>
         03:55
        </td>
        <td>
         06:30
        </td>
        <td>
        </td>
        <td>
         04:55
        </td>
        <td>
         07:30
        </td>
        <td>
         02:35:00
        </td>
       </tr>
       
       <tr>
        <td>
         WF2348
        </td>
        <td>
         YBBN
        </td>
        <td>
         Brisbane
        </td>
        <td>
         YSSY
        </td>
        <td>
         Sydney
        </td>
        <td>
        </td>
        <td>
         07:15
        </td>
        <td>
         08:50
        </td>
        <td>
        </td>
        <td>
         08:15
        </td>
        <td>
         09:50
        </td>
        <td>
         01:35:00
        </td>
    </tr>
</table>


</body>
</html>


{% endblock %}