{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/vaakash/socializer@2f749eb/css/socializer.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <!-- CSS -->

    <!-- META -->
    <meta charset="UTF-8">
    <!-- META -->

    <!-- FAVICON -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'asset/Flying_Club_vACC-Logo-500.png' %}">
    <!-- FAVICON -->

    <!-- JQUERY -->
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- JQUERY -->

    <!-- Script gestion du filtrage-->
    <script type="application/javascript" src="{% static 'js/filtrage.js' %}"></script>
    <!-- Script gestion du filtrage-->

    <!-- Script gestion du click-->
    <script type="application/javascript" src="{% static 'js/onclick.js' %}"></script>
    <!-- Script gestion du click-->

    <!--GOOGLE ANALYTICS-->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XWTVE2KTW5"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XWTVE2KTW5');
    </script>
    <!--GOOGLE ANALYTICS-->

    <!-- TITRE -->
    <title>{% block title %}French Flying Club{% endblock %}</title>
    <!-- TITRE -->

</head>

<body>
    <header>
        <img id="img1" src="{% static 'asset/Flying_Club_vACC-Logo-500.png' %}" alt="logo" />
        <div class="nav_links">
            <a href="{% url 'index' %}">Le Club</a>
            <a href="{% url 'events' %}">Événements</a>
            <a href="{% url 'livrees' %}">Nos Livrées</a>
            <a href="{% url 'doc' %}">Documentation</a>
            <a href="{% url 'voltige' %}">Pains Acrobatiques</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>
            <div id="lang_img">
                <a href="/en/"><img src="{% static 'asset/en.png' %}" alt="en" /></a>
            </div>
        </div>
    </header>
    
    <div class="content-page">
        <div class="main">
            {% block content %}

            {% endblock %}
        </div>
    </div>
    <footer>
        <div class="bas">
            <div class="vatsim_footer">
                <a href="https://vatsim.net"><img src="{% static 'asset/Footer-Vatsim.png' %}"></a>
            </div>
            <div class="privacy_footer">
                <a href="{% url 'privacy_policy' %}">Privacy policy
            </div>
        </div>
    </footer>
</body>

</html>
