{% load static %}
<!DOCTYPE html>
<html lang="fr" class="no-js">

<head>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/vaakash/socializer@2f749eb/css/socializer.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">

    <!-- CSS -->

    <!-- META -->
    <meta charset="UTF-8">
    <!-- META -->

    <!-- FAVICON -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'asset/Flying_Club_vACC-Logo-500.png' %}">
    <!-- FAVICON -->

    <!-- JQUERY -->
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- JQUERY -->

    <!-- Script gestion du filtrage-->
    <script type="application/javascript" src="{% static 'js/filtrage.js' %}"></script>
    <!-- Script gestion du filtrage-->

    <!-- Script gestion du click-->
    <script type="application/javascript" src="{% static 'js/onclick.js' %}"></script>
    <!-- Script gestion du click-->

    <!--GOOGLE ANALYTICS-->
    <script async type="application/javascript" src="https://www.googletagmanager.com/gtag/js?id=G-XWTVE2KTW5"></script>
    <script type="application/javascript" src="{% static 'js/gtag.js' %}"></script>
    <!--GOOGLE ANALYTICS-->

    <!--Gestion map-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <script type="application/javascript" src="{% static 'js/leaflet.rotatedMarker.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/map.js' %}"></script>
    <!--Gestion map-->

    <!-- TITRE -->
    <title>{% block title %}French Flying Club{% endblock %}</title>
    <!-- TITRE -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<link rel="stylesheet" href="{% static 'default.css' %}"/>
	<link rel="stylesheet" href="{% static 'component.css' %}" />
	<script type="application/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>

</head>
<body>
<div class="corps">
		<div class="container-2">
			<div class="main">
                <div class="banniere">
                <img src="{% static 'asset/dasistperfektion.png' %}" alt="banniere"></div>
				<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
					<div class="cbp-hsinner">
						<ul class="cbp-hsmenu">
							<li>
								<a href="#" class="menu">Le club</a>
								<ul class="cbp-hssubmenu">
                                    <li><a href="{% url 'index' %}" class="menu"><img src="{% static 'asset/index_icon.png' %}" alt="img01" width="25%"/><span>Accueil</span></a></li>
									<li><a href="{% url 'events' %}" class="menu"><img src="{% static 'asset/event_icon.png' %}" alt="img01" width="25%"/><span>Evenements</span></a></li>
									<li><a href="{% url 'doc' %}" class="menu"><img src="{% static 'asset/doc_icon.png' %}" alt="img02" width="25%"/><span>Documentation</span></a></li>
									<li><a href="{% url 'voltige' %}" class="menu"><img src="{% static 'asset/paf_icon.png' %}" alt="img03" width="25%"/><span>Pains acrobatiques</span></a></li>
                                    <li><a href="{% url 'contact' %}" class="menu"><img src="{% static 'asset/contact.png' %}" alt="img03" width="25%"/><span>Contact</span></a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="menu">Statistiques</a>
								<ul class="cbp-hssubmenu cbp-hssub-rows">
									<li><a href="{% url 'stats' %}" class="menu"><img src="{% static 'asset/avion_icon.png' %}" alt="img07" width="25%"/><span>Vol en cours</span></a></li>
									<li><a href="{% url 'carnetdevol' %}" class="menu"><img src="{% static 'asset/log.png' %}" alt="img08" width="25%"/><span>Carnet de vol</span></a></li>
									<li><a href="#" class="menu"><img src="{% static 'asset/soon.png' %}" alt="img09" width="25%"/><span>Statistiques</span></a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="menu">Nos livrées</a>
								<ul class="cbp-hssubmenu">
									<li><a href="{% url 'livrees_MSFS' %}" class="menu"><img src="{% static 'asset/MFS2-ConvertImage.png' %}" alt="img10" width="50%"/><span>Livrées MFS</span></a></li>
									<li><a href="{% url 'livrees_XP' %}" class="menu"><img src="{% static 'asset/xplane11-ConvertImage.png' %}" alt="img06" width="50%"/><span>Livrées X-plane</span></a></li>
									<li><a href="https://docs.google.com/document/d/10nxibBRj1BUivE220l7iAyJBlbuNORUlgvFwf9Gv6Xg/edit" class="menu"><img src="{% static 'asset/link_icon.png' %}" alt="img09" width="25%"/><span>Tutoriel d'installation des VMR</span></a></li>
									<li><a href="{% url 'vmr_list' %}" class="menu"><img src="{% static 'asset/vatsim_icon.png' %}" alt="img09" width="50%"/><span>Lien vers les fichiers VMR</span></a></li>
								</ul>
							</li>

							<li><a href="{% url 'en_index' %}" class="menu">In English please</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<script type="application/javascript" src="{% static 'js/cbpHorizontalSlideOutMenu.min.js' %}"></script>
		<script>
			var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
		</script>
    </div>

    <div class="content-page">
        <div class="main">
            {% block content %}

            {% endblock %}
        </div>
    </div>

    <footer>
        <div class="bas">
            <div class="vatsim_footer">
                <a href="https://vatsim.net"><img src="{% static 'asset/Footer-Vatsim.png' %}"></a>
            </div>
            <div class="privacy_footer">
                <a href="{% url 'privacy_policy' %}">Privacy policy
            </div>
        </div>
    </footer>
</body>

</html>
